
.mint {
  max-width: 44rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.mint_item h3 {
  color: #E9E9E9;
  font-size: 1.3rem;
  margin: 3rem 0rem 0rem 0rem;
}

.mint_item h4enabled {
  color: #66E966;
  font-size: 0.9rem;
  margin: 0rem 0rem 0rem 0rem;
}

.mint_item h4disabled {
  color: #E96666;
  font-size: 0.9rem;
  margin: 0rem 0rem 0rem 0rem;
}

.mint_item p {
  color: #999;
  font-size: 1.1rem;
  margin: 4px 0px;
}
.mint_item p:nth-of-type(1) {
  margin-top: 10px;
}

.mint_item li {
  color: #999;
  font-size: 1.1rem;
  margin: 4px 0px;
}
.mint_item li:nth-of-type(1) {
  margin-top: 10px;
}

.mint_item u {
  color: #BBB;
  font-size: 1.1rem;
  margin: 4px 0px;
  text-underline-offset: 0.12rem;
}

.mint_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: 15rem;
}
.mint_form p:nth-of-type(1) {
  margin-top: 0px;
}

.mint_form button {
  color: #000;
}
